{% load thumbnail %}

<!-- post card -->
<div class="flex bg-white shadow-lg rounded-lg mx-4 my-6 md:mx-auto max-w-md md:max-w-2xl">
    <div class="flex items-start px-4 py-6">
        {% thumbnail post.author.profile.image "80x80" crop="center" as im %}
            <img class="w-12 h-12 rounded-full object-cover mr-4 shadow" src="{{ im.url }}" alt="avatar">
        {% endthumbnail %}
        <div class="">
            <div class="flex items-center justify-between">
                <h2 class="text-lg font-semibold text-gray-900 mt-1">{{ post.author.username }} </h2>
                <small class="text-sm text-gray-700"> {{ post.date }} </small>
            </div>
            <p class="mt-3 text-gray-700 text-sm">
                {{ post.text }}
            </p>          
            {% if show_detail_link%}
            <a class="text-blue-600 hover:underline" href="{% url 'feed:detail' post.id %}">
                Read more...
            </a>      
            {% endif %}
        </div>
    </div>
</div>