{% load thumbnail %}

<!-- post card -->
<div class="flex bg-white shadow-lg rounded-lg mx-4 md:mx-auto max-w-md md:max-w-2xl" style="margin-top: 20px;"><!--horizantil margin is just for display-->
    <div class="flex items-start px-4 py-6">       
          <div class="flex items-center justify-between">
            
                <a href="{% url 'profiles:detail' post.author.username %}" style="width: 8rem;" class="shrink-0">                    
                    {% thumbnail post.author.profile.image "100x100" crop="center" as im %}
                    <img class="w-12 h-12 rounded-full object-cover shadow mx-auto" src="{{im.url}}" alt="avatar">
                    {% endthumbnail %}            
                    <h2 class="text-lg font-semibold text-gray-900 text-center">{{post.author.username}} </h2>
                </a>
                <span>&nbsp;</span> 
            <div>  
                <small class="text-sm text-gray-700">{{ post.date }}</small>
                <p class="mt-3 text-gray-700 text-md">
                 {{ post.text }}
                </p>
                {% if show_detail_link%}
            <a class="text-blue-600 hover:underline" href="{% url 'feed:detail' post.id %}">
                Read more...
            </a>      
            {% endif %}
            </div>
        
       </div>
    </div>
 </div>
